.full-width {
    #content-panel { }
}

.two-column {
    main { overflow: auto; }

    #panel-one {  }
    #content-panel {  }
}

.three-column {
    main { overflow: auto; }

    #panel-one {  }
    #panel-two {  }
    #content-panel {  }
}

footer { clear: both; }
