/**
 * City of Bloomington Theme
 *
 * This stylesheet extends the default Factory Number One CSS.
 * @see https://github.com/City-of-Bloomington/factory-number-one
 */
@import '../../vendor/City-of-Bloomington/factory-number-one/themes/default/scss/modules/vars';
@import 'modules/vars';

@import '../../vendor/City-of-Bloomington/factory-number-one/themes/default/scss/modules/normalize';
@import '../../vendor/City-of-Bloomington/factory-number-one/themes/default/scss/modules/html-elements';
@import '../../vendor/City-of-Bloomington/factory-number-one/themes/default/includes/header';
@import '../../vendor/City-of-Bloomington/factory-number-one/themes/default/scss/modules/nav1';
@import '../../vendor/City-of-Bloomington/factory-number-one/components/breadcrumbs/breadcrumbs';
@import '../../vendor/City-of-Bloomington/factory-number-one/components/button/button';
@import '../../vendor/City-of-Bloomington/factory-number-one/components/dropdown/dropdown';
@import '../../vendor/City-of-Bloomington/factory-number-one/components/field/field';
@import '../../vendor/City-of-Bloomington/factory-number-one/components/pageNavigation/pageNavigation';
@import '../../vendor/City-of-Bloomington/factory-number-one/components/table/table';

@import 'modules/layout';
@import 'modules/main';

body > header {
    form {
        div {
            display: inline-table; vertical-align: middle;
            background: $color-content-background;
        }
    }
}

form, fieldset { margin: 0; padding: 0; }

details {
    border: 1px solid $color-border-input;
    border-radius: 4px;
    padding: $size-gutter;
    display: list-item;
}
summary { display: list-item; }

#street_number_prefix,
#street_number_suffix { width:2em; }
#street_number,
#zip, #zipplus4       { width:5em; }

#addressSearch form {
    div {
        display: inline-block;
        background: $color-content-background;
        label { display: block; width: inherit; }
    }

    button.search { display: block; }
}
