/**
 * City of Bloomington Theme
 */
@import 'modules/vars';

@import 'modules/normalize';
@import 'modules/html-elements';
@import 'modules/header';
@import 'modules/components/breadcrumbs';
@import 'modules/components/button';
@import 'modules/components/dropdown';
@import 'modules/components/field';
@import 'modules/components/pageNavigation';
@import 'modules/components/table';

@import 'modules/layout';
@import 'modules/main';

body > header {
    form {
        div {
            display: inline-table; vertical-align: middle;
            background: $color-content-background;
        }
    }
}
#nav1 {
    background: $color-header;
    a {
        font-weight: bold; font-size: $font-size-big;
        color: $color-content-background;
        margin-right: 1em;
    }
}
#errorMessages { background-color:$color-error; }

form, fieldset { margin: 0; padding: 0; }

details {
    border: 1px solid $color-border-input;
    border-radius: 4px;
    padding: $size-gutter;
    display: list-item;
}
summary { display: list-item; }

input.street_number_prefix,
input.street_number_suffix { width:2em; }
input[type="number"] { width:6em; }

#addressSearch form {
    div {
        display: inline-block;
        background: $color-content-background;
        label { display: block; width: inherit; }
    }

    button.search { display: block; }
}
