$font-family-default: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-size-bigger: 1.5rem;
$font-size-big:    1.3rem;
$font-size-normal:   1rem;
$font-size-small:   .8rem;
$font-size-smaller: .6rem;
