/**
 * Urls are relative to screen.css
 */
$url-logo: "images/logo.svg";

$font-size-huge:    36px;
$font-size-biggest: 27px;
$font-size-bigger:  24px;
$font-size-big:     19px;
$font-size-normal:  14px;
$font-size-small:   12px;
